<%= form_with url: "/flights", method: :get, data: { turbo: false } do |form| %>
  <div class="field">
    <%= select_tag(:departure_code, options_for_select(@airport_options), { prompt: "From" }) %>
  </div>

  <div class="field">
    <%= select_tag(:arrival_code, options_for_select(@airport_options), { prompt: "To" }) %>
  </div>

  <div class="field">
    <%= select_tag(:num_passenger, options_for_select([["1 Passenger", 1], ["2 Passengers", 2], ["3 Passengers", 3], ["4 Passengers", 4]])) %>
  </div>

  <div class="field">
    <%= select_date(Date.today, start_year: Date.today.year, end_year: 5.years.from_now.year, order: [:day, :month, :year]) %>
  </div>

  <%= form.submit "Search" %>
<% end %>