<div class="confirmation">
  <h2 class="confirmation-title">Booking Confirmation</h2>
  <p class="confirmation-subtitle">Ticket No.: <%= @booking.id %> | Booked On <%= @booking.created_at.strftime("%m/%d/%y") %></p>
  
  <div class="booking flight-details ticket">
    <div class="flight-id">
      <p>Flight ID #<%= @booking.flight.id %></p>
      <p class="flight-date"><%= @booking.flight.date.strftime("%b %d, %Y") %></p>
    </div>
    <div class="ticket-flight">
      <div class="departure-details">
        <p class="time"><%= @booking.flight.date.strftime("%I:%M %p") %></p>
        <p class="airport"><%= @booking.flight.departure_airport.name %> <span>(<%= @booking.flight.departure_airport.code %>)</span></p>
      </div>
      <div class="trip-details">
        <p>Nonstop</p>
        <hr>
        <p><%= pluralize(@booking.flight.duration, "hour") %></p>
      </div>
      <div class="arrival-details">
        <p class="time"><%= (@booking.flight.date + @booking.flight.duration.hour).strftime("%I:%M %p") %></p>
        <p class="airport"><%= @booking.flight.arrival_airport.name %> <span>(<%= @booking.flight.arrival_airport.code %>)</span></p>
      </div>
    </div>

    <div class="ticket-divider"></div>

    <div class="ticket-passengers">
      <h3 class="ticket-passenger-title">Passenger Information</h3>
      <div class="passenger-info">
        <p class="passenger-header">Name</p>
        <p class="passenger-header">Email</p>
        <% @booking.passengers.each_with_index do |passenger, i| %>
          <p class="passenger"><%= passenger.name %></p>
          <p class="passenger"><%= passenger.email %></p>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="link-button"><%= link_to "Back to Home", root_path, class: "button" %></div>
</div>
